# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/
venv.bak/
env.bak/

# Environment files
.env
.env.local
.env.production
.env.development
.env.staging
.env.test

# Logs and databases
*.log
*.sqlite
*.db

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ML / Outputs and Checkpoints
*.pt
*.pth
modelling/link_pred_output/
testing_pipeline/link_pred_output/flat/*
testing_pipeline/link_pred_output/hyper/*
testing_pipeline/results/
!testing_pipeline/link_pred_output/temp.txt
